# System Files
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Editor
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/

# Logs
logs/
*.log

# Deployment Temps
temp_deploy_trb/
temp_deploy_prod/
temp_deploy_trb/
temp_deploy_prod/

# Renders
next-app/renders/
next-app/.next*
